/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 20px; /* Espaciado interno del pie de página */
  }
  
  /* Estilos para la barra de navegación en el pie de página */
  .footer-nav ul{
    display: flex; /* Mostrar en modo fila */
    justify-content: center; /* Centrar los elementos horizontalmente */
  }
  
  ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    margin: 0; /* Quitar margen */
    padding: 10; /* Quitar padding */
  }
  
  li {
    margin: 0 10px; /* Espaciado entre elementos de la lista */
  }
  
  a {
    color: #fff; /* Color del enlace */
    text-decoration: none; /* Quitar subrayado del enlace */
    font-weight: bold; /* Negrita en el texto del enlace */
    transition: color 0.3s ease-in-out; /* Transición suave en el color del enlace */
  }
  
  a:hover {
    color: #ffcc00; /* Cambiar el color del enlace al pasar el mouse por encima */
  }
  